RewriteEngine on
RewriteRule ^Home?$ index.php
RewriteRule ^About?$ narmadalaya.html
RewriteRule ^Awards?$ award.html
RewriteRule ^Bord-Members?$ boardmember.html
RewriteRule ^Contact?$ contact.php
RewriteRule ^Donation?$ donation.html
RewriteRule ^Events?$ events.html
RewriteRule ^Gallery?$ gallery.html
RewriteRule ^Goshala?$ goshala.html
RewriteRule ^InaugrationProgram?$ inauguration.html
RewriteRule ^RKSNSchool?$ lepa.html
RewriteRule ^Ms_Bharati_Thakur?$ ms_bharati_thakur.html
RewriteRule ^Narmada_Jayanti?$ narmada_jayanti.html
RewriteRule ^Narmada_Swar_Lahri?$ narmada_lahari.html
RewriteRule ^News?$ news.html
RewriteRule ^Narmada_Nirmiti?$ nirmiti.html
RewriteRule ^Ram_Krishna_Tecnical_Institude?$ rit.html
RewriteRule ^Adhyatmik_Shivir?$ shivir.html
RewriteRule ^Sports?$ sports.html
RewriteRule ^Team-Member?$ team.html
RewriteRule ^Vision?$ vision.html
RewriteRule ^exhibition-Form?$ exhibition_org.php
RewriteRule ^NARMADA_GOES_INTERNATIONAL?$ NARMADA_GOES_INTERNATIONAL.html
RewriteRule ^memorable-day?$ memorable-day-at-narmadalaya.html
RewriteRule ^donation_form?$ donation_form.php
RewriteRule ^History?$ History.html
RewriteRule ^Jivan-shiksha?$ Jivan-shiksha.html
RewriteRule ^Advisory-Committee?$ advisory_committee.html
RewriteRule ^post?$ Dr.Mashelkar.html
RewriteRule ^Organization-Certifications?$ Organization-Certifications.html
RewriteRule ^about-us?$ narmadalaya.html
RewriteRule ^donate?$ donation.html
RewriteRule ^history?$ History.html
RewriteRule ^what's_new?$ what's_new.html
RewriteRule ^Bhatkantichi-Pathshala?$ https://youtube.com/playlist?list=PLNLUAA7VRHyhapCRnX37qQGNRJPZbiPJZ
RewriteRule ^Narmada-Parikrama?$ https://www.youtube.com/playlist?list=PLNLUAA7VRHyjcR1Dp6vWcq7BgDnbvJmJb